{{ govukContextualFooter({
  title: "Explore the topic",
  links: [
    { 
      href: "https://gov.uk/browse/benefits/disability/", 
      text: "Benefits and financial support if you’re disabled or have a health condition" 
    },
    { 
      href: "https://gov.uk/financial-help-disabled/", 
      text: "Benefits and financial help" 
    }
  ]
}) }}
