{% set html %}
  <h3 class="govuk-notification-banner__heading">We have saved your cookie settings</h3>
  <p class="govuk-body">If something does not look right, contact <a class="govuk-notification-banner__link" href="mailto:health-work-research@digital.cabinet-office.gov.uk">health-work-research@digital.cabinet-office.gov.uk</a>.</p>
{% endset %}

{{ govukComponent("notification-banner", {
  classes: "cookie-banner-success",
  html: html,
  type: "success",
  attributes: {
    tabindex: "-1",
    hidden: true
  }
}) }}
