{% set html %}
  <h3 class="govuk-notification-banner__heading">Your cookie settings were saved</h3>
  <p class="govuk-body">Contact <a class="govuk-notification-banner__link" href="mailto:health-work-research@digital.cabinet-office.gov.uk">health-work-research@digital.cabinet-office.gov.uk</a> if you think there’s a problem.</p>
{% endset %}

{{ govukComponent("notification-banner", {
  classes: "cookie-banner-success",
  html: html,
  type: "success",
  attributes: {
    tabindex: "-1",
    hidden: true
  }
}) }}
