{% set navItems = collections.fitnote | eleventyNavigation %}

{% set items = [] %}

{% for entry in navItems %}
  {% set newItem = {
    href: entry.url | absoluteUrl,
    text: entry.title,
    active: entry.url == page.url
  } %}
  {% set items = items | merge([newItem]) %}
{% endfor %}

{{ govukContentsList({ items: items }) }}
