{% set previousPost = collections.fitnote | getPreviousCollectionItem(page.url) %}
{% set nextPost = collections.fitnote | getNextCollectionItem(page.url) %}
{% set pagination = {} %}

{% if previousPost %}
  {% set pagination = pagination | mergeObjects({
    previous: {
      labelText: previousPost.data.title,
      href: pathPrefix + previousPost.url
    }
  }) %}
{% endif %}

{% if nextPost %}
  {% set pagination = pagination | mergeObjects({
    next: {
      labelText: nextPost.data.title,
      href: pathPrefix + nextPost.url
    }
  }) %}
{% endif %}

{{ govukComponent("pagination", pagination) }}
