{{ govukRelatedNavigation({
  title: "Related content",
  links: [
    { 
      href: "https://gov.uk/government/collections/statutory-sick-pay-and-leave/", 
      text: "Statutory Sick Pay guidance and forms for employees and employers" 
    },
    { 
      href: "https://gov.uk/statutory-sick-pay/", 
      text: "Statutory Sick Pay (SSP)" 
    },
    { 
      href: "https://gov.uk/send-fit-note/", 
      text: "Send your fit note for your ESA claim" 
    }
  ]
}) }}
