{% extends "./base.njk" %}

{% block beforeContent %}

  {% if breadcrumbs != false %}
    {{ govukComponent("breadcrumbs", {
      items: [
        {
          text: "Home",
          href: "/"
        }
      ]
    }) }}
  {% endif %}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
      
      <div class="govuk-prose">
        {{ content | safe }}
      </div>

    </div>

  </div>

{% endblock %}
