{% extends "./base.njk" %}

{% block content %}
<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Get help for time off work due to illness or personal issues</h1>

    <aside class="govuk-part-navigation-container">
      {% include "navigation.njk" ignore missing %}
    </aside>

  </div>

</div>

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds govuk-!-margin-top-6">
    
    <div class="govuk-prose">
      {{ content | markdownPathPrefix | safe }}
    </div>

    {% include "pagination.njk" ignore missing %}
    
    {% include "contextual-footer.njk" ignore missing %}

  </div>

  <div class="govuk-grid-column-one-third">
    {% include "related-navigation.njk" ignore missing %}
  </div>

</div>
{% endblock %}
