---
layout: mainstream-guide.njk
title: What to do if you can’t return to work or your job has to change
permalink: /what-to-do-if-you-cant-return-to-work-or-your-job-has-to-change/
eleventyNavigation:
  key: What to do if you can’t return to work or your job has to change
  order: 8
tags: fitnote
---

[Your page content goes here]
