// --------------------------------

// Overrides

// --------------------------------

html {
  background-color: govuk-colour("light-grey");
}

body {
  background-color: govuk-colour("white");
  min-height: 100%;
  height: 100%;
}

.govuk-part-navigation-container {
  @include govuk-responsive-padding(3, "bottom");
  border-bottom: 1px solid $govuk-border-colour;
}

.govuk-pagination__link {
  @extend .govuk-link--no-visited-state;
}
